* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "microsoft yahei";
}

.swiper-container {
    /*  width: 320px;
    height: 480px;*/
    width: 100%;
    height: 100%;
   /* background: #fffafa;*/
   display: none;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    background: url(upload/bg.jpg) no-repeat left top;
    background-size: 100% 100%;
}

img {
    display: block;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: .4;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}


.ani {
    position: absolute;
}

.txt {
    position: absolute;
}
#array {

    position: absolute;
    z-index: 999;
    width:20px;height:15px;
    bottom: 20px;left: 50%;margin-left: -10px;
    -webkit-animation: start 1.5s infinite ease-in-out;
}

.circle {
   border-color: rgb(255, 255, 255); 
    opacity: 0.2;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    -webkit-animation: twinkle 8s infinite ease-in-out;
}
.circle.fast {
    -webkit-animation: twinkle 3s infinite ease-in-out;
}

.swiper-slide {
    height: 100vh;

}
.imgbox {
    overflow: hidden;margin: 0 0 20px 0;position: relative;
    /*max-height: 90vh;*/
   height: 100%;
}
.shadow {
    box-shadow: 0 0 10px gray;
}
.imgbox img {
     width: 100%;border-radius: 5px;
     height: 100%;
}
.imgbox.horizontal img {
    height: 100%;width: auto;
}
 
.txtwarper {
     background-position: bottom;
    height: auto;background-repeat: no-repeat;
    background-size: contain;
     position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.welcome{ position: absolute;top: 40%;left: 0;
    width: 100%;text-align: center;
    color: #f3accd;
    font-family: "Microsoft JhengHei";
    font-size:1.2rem;
}
.info {
    color: azure;
    height: 300px;
    background-image: url(../show/000.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    text-align: center;
    margin-top: 15%;
    padding-top: 20%;
    letter-spacing: 2px;line-height: 32px;
}
.words{ position: relative;text-align: center;}
.wedding{ font-weight: bold;
    width: 100%;
}
.names{   display: inline-block;padding: 5px 20px;position: relative;
text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9 
}
.names:after{
    content: ' '; width: 120%;height: 2px; position: absolute;  bottom: 1px;left:-10%;
    background: -webkit-linear-gradient(left, #fff  0%,#f3accd 20%,#e770a7 53%,#f3accd  79%,#fff  100%); 
} 
.xzAni {
animation: xz 10s ease infinite both;
}
.moveX {
animation: moveX 20s ease infinite both;
} 
.qzin {
animation: qzin 8s ease 1 both;
} 
 .butons {
     position: absolute;
     width: 100%;
     bottom: 20px;
     left: 0;
     text-align: center;
 }
 .btn {
     text-decoration: none;
     background-color: rgba(190, 116, 123, 0.901961);
     border-radius: 100px;
     color: white;
     padding: 10px 20px;
     margin: 0 10px;
 }
 .yue {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
.rotate{-webkit-animation: rotate 1s linear both infinite;}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.info div{
	margin-left: 30%;
}
.p1{
	    width: 100%;
    top:5%;
    position: absolute;
}
.p2{
	    top: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.p3{
	    top: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
 .p4{
 	   top: 35%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
 }
  .p5{
 	   top: 45%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
 }
   .p6{
 	   top: 55%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
 }
   .p7{
 	   top: 65%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
 }
    .p8{
 	   top: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
 }
    .p9{
 	   top: 85%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
 }
.loading{
	    height: 100%;
    text-align: center;
    position: relative;
    background: aliceblue;
}
.page{
	    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.gif_demo{
	position:fixed;    top:0;    left:0;    width:100%;    height:100%;    background:#121C1D;    z-index:9999999999;    -webkit-perspective:2000px; 
}
.load_img{
	    position: absolute;
    top: 40%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -30px auto 0px -30px;
    -webkit-animation: 3s linear 0s infinite flipY;
    border-radius: 50%;
}

			/**音乐**/

.pauseBtn {
	background: url(../images/music1.png) no-repeat;
	background-size: 100% 100%;
  position: absolute;

	width: 25px;
	height: 25px;
	top: 5px;
	right: 15px;
	    z-index: 100;
}

.rotate {
	-webkit-animation: rotate 3s infinite linear;
	animation: rotate 3s infinite linear;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,4,.5);
}

.autoPlayBox1{
	position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    z-index: 10;
	
}
.autoPlayBox1 img{
	width: 100%;
}
